.footer__link {
    list-style-type: none;
    margin: 20px 0 16px;
    padding-left: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #F2F2F2;
    text-decoration: none;
  }  